.navbar 
{
  background-color: #008B8B !important; 
}
/*
!important para que este css predomine ante el de boostrap
*/

.navbar .nav-link, .navbar .navbar-brand 
{
  color: white;
}





.queessql 
{
  background-color: rgb(214, 150, 30);
  text-align: center;
  max-width: 800px;  /*ancho maximo*/
  margin: 40px auto; /*margen exterior, separa de lo demas  arriba/abajo - izquierda/derecha*/
  padding: 30px;    /*margen interior */
  color: white;
}

/* displey flex para hacer que todo lo que este adentro de ese div se comporten como bloques */ 


/* joins */



.contenedorjoins
{
  max-width: 1000px;
  display: flex;

  margin: 40px auto;
  align-items: center; 

}


.joins
{

  padding: 30px;
  text-align: center;
  width: 50%;
  background-color: rgb(42, 51, 80); 
  color: white;

}

.joins h3
{

  color: rgb(187, 138, 13);
  margin-top: 20px;  /* deja espacio solo arriba */
}


.imagenn
{
  text-align: center;
  width: 50%;
}



.consultasjoin
{
  height: auto;
  max-width: 100%; 
}








/*der*/
 

.seccionder
{
  text-align: left;
  background-color: rgb(41, 77, 25);
  padding: 30px;
  margin: 40px auto;
  color: white;
  max-width: 900px;

}

.seccionder h2
{
 
  margin-bottom: 20px;
  text-align: center;
}

.seccionder h3
{
  color: red;

  margin-top: 15px;
}
 




/*funciones */



.funcionesagregacion
{
  max-width: 1200px;

  text-align: left;
  color: white;
  margin: 40px auto;
  background-color: black;
  padding: 30px;
}

.funcionesagregacion h2
{

  margin-bottom: 25px;
  text-align: center;  
}





/* diciionario*/



.cont-diccionario
{
  
  align-items: center;
  margin: 40px auto;
  display: flex;
  max-width: 1000px;
}



.img-dic
{
  margin-right: 20px;
  width: 45%;
}  



.texto-dic
{
  text-align: left;
  padding: 30px;
  color: white;
  width: 55%;
  background-color: rgb(64, 135, 138);
}

  
.texto-dic h2
{
  margin-bottom: 20px;
  text-align: center;
}




/*  normalizacion*/ 

/*
.div-norm
{
  padding: 30px;
  color: white;
  margin: 40px auto;
  text-align: center;
  background-color: rgb(161, 110, 48);
  max-width: 800px;
}

.div-norm h2
{
  margin-bottom: 20px;  
}

.div-norm h3
{
  color: darkgoldenrod;
  margin-top: 20px;
}

*/

.fuentes 
{
  margin: 40px auto;
  text-align: right;
}